.form-container {
  padding: 40px 20px;
  max-width: 1200px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.form__title {
  font-size: 1.875rem;
  align-self: flex-start;
}
