.main-header {
  background-color: #2f27ce;
  padding: 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.header__title {
  font-size: 2.5rem;
}
